/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
.YourHighlightClass{
  font-weight: bold;
}

.markdown h1{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
  }
  
  .markdown h2{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    }
  
    .markdown h3{
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 20px;
      font-weight: bold;
      }
  
      .markdown h4{
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
        }
  
    .markdown p{
      font-size: 18px;
      margin-bottom: 5px;
      }
  
      .markdown a{
        font-size: 20px;
        color: red;
        margin-bottom: 10px;
        }
  
        .markdown ul {
          margin-top: 1em;
          margin-bottom: 1em;
          list-style: disc outside none; 
        
        }
        
        .markdown ul li {
          margin-left: 2em;
          display: list-item;
          text-align: -webkit-match-parent;
        }
  
  
        .markdown blockquote{
          margin: 20px;
          font-style: italic;
          
        }

#installInstructions {
  display: none
}
@media (display-mode: browser) {
  #installInstructions {
    display: block
  }
}

html {
  scroll-behavior: smooth


}
#footer{
  display: none !important;
}

#reactions .reaction-items{
    display: none !important
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

